#about{
    overflow: hidden;
    width: 100vw ;
    margin: 3rem auto;
    max-width: 65rem;
}
.whatido{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.content{
    padding: 0 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.card {
    padding: 2rem 0;
    padding-right: auto ;
    padding-left: auto;
    margin: 0 10vw;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(50,50,50);
    border-radius: 0.5rem;
    transition: transform 0.3sec ease-in-out;
}
.card:hover {
    transform: scale(1.02);
}

img {
    object-fit: cover;
    height: 3rem;
    margin-left: 1rem;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 600;
}
.card-detail {
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 200;
}
  
@media screen and (max-width:730px) {
    .content {
        font-size: 1.3rem;
    }
    .card-title {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    .card img {
        object-fit: cover;
        height: 3rem;
    }
    .card-detail {
        font-size: 1rem;
    }
}
@media screen and (max-width:560px) {
    .content {
        font-size: 2.5vw;
    }
    .card-title {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    .card-detail {
        font-size: 1rem;
    }
}
@media screen and (max-width:460px) {
    .content {
        font-size: 2rem;
    }
    .card img {
        height: 3rem;
    }
    .card-detail {
        font-size: 0.9rem;
    }
}