#portfolio{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.myportfolio {
    font-size: 3rem;
    font-weight: 600;
}
.images a {
    display: inline-block; 
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}
.content{
    padding: 0 14vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 300;
}

.images {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.images img {
    object-fit: cover;
    height: 20rem;
    border-radius: 0.5rem;
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}
.portfolio-img:hover {
    filter: brightness(0.7); 
    transform: scale(1.1);

}
@media screen and (max-width:1105px){
    .images img {
        height: 15rem;
    }
}

@media screen and (max-width:907px){
    .images {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:681px){
    .images {
        margin-left: 6rem;
        margin-right: 6rem;
        gap: 2rem;
    }
    .images img {
        height: 13rem;
    }

}
@media screen and (max-width:570px){
    .images {
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 1rem;
    }
    .images img {
        height: 12rem;
    }
}

@media screen and (max-width:448px){
    .images {
        margin-left: auto;
        margin-right: auto;
        gap: 1rem;
    }
    .images img {
        height: 11rem;
    }
}

@media screen and (max-width:400px){
    .images {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .images img {
        height: 10rem;
    }
}